*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*  Navbar   */
  .navbar-collapse {
    justify-content: end;
  }
  .contact{
    background: #fff;
    width: 100px;
    border-radius: 20px;
  }
  
  /* header */
  .header{
    background: skyblue;
    height: 400px;
    padding-top: 120px;
  }
  .header_text h1{
    margin-top: 80px;
  }
  
  /* sections */
  .first_card, .fourth_card{
    background: white;
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }
  .second_card, .third_card,
  .fifth_card,
  .sixth_card{
    background: orange;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .third_card{
    background: rgb(201, 76, 76);
  }
  .fifth_card{
    background: rgb(96, 113, 71);
  }
  .sixth_card{
    background: steelblue;
  }
  .row>* {
    padding-right: 0;
    padding-left: 0;
  }
  
  .a-link, .a-link-2{
    color: black;
    position: relative;
    left: -150px;
    text-decoration: none;
    border-bottom: 1px solid yellow;
    border-bottom-width: 4px;
    border-radius: 5px;
  }
  .a-link-2{
    border-bottom: 1px solid rgb(168, 95, 95);
    border-bottom-width: 4px;
    border-radius: 5px;
    
  }
  
  .section_2{
    margin-top: 100px;
  }
  .border_1, .border_2, .border_3{
    border: 1px solid black;
    border: none;
    width: 100px;height: 100px;
    border-radius: 50%;
    background-image: url(assets/img/c1.avif);
    background-size: cover;
    background-position: center;
  }
  .border_2{
    background-image: url(assets/img/c_3.avif);
  }
  .border_3{
    background-image: url(assets/img/c_2.avif);
  }
  
  .section_3{
    margin-top: 100px;
  }
  
  .border_s3a, .border_s3b,
  .border_s3c, .border_s3d{
    height: 500px;
    background-color: rgb(164, 183, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .border_s3b{
    background: orange;
  }
  .border_s3b{
    background: skyblue;
  }
  .border_s3d{
    background: rgb(153, 80, 80);
  }
   
  /* footer */
  .footer{
    background: rgb(138, 179, 138);
  }
  
  .navbar{
    position: fixed;
    transition: 0.2s ease-in;
    z-index: 1;
  }
  
  .navbar-bg{
    background: skyblue;
    width: 100%;
    font-size: 20px;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  
  